<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DTaskboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary pl-xl-5" style="opacity: 0.85; z-index: 9999">
            <a class="navbar-brand text-light" href="@Url.Action("AllProjects", "Project")">DTaskboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @{Html.RenderAction("GetUserName", "Profile");}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">My tasks</a>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="container w-100 h-75">
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
