@model SAM.Taskboard.Model.Board.BoardViewModel

    <div class="d-flex mh-100 overflow-auto">
        @foreach (var column in Model.Columns)
        {
            @Html.Hidden("ColumnId", column.Id)
            <div class="d-flex flex-column m-4 rounded shadow-light">
                <div class="row justify-content-center w-250">
                    <h5 class="mt-3">
                        @column.Title
                    </h5>
                </div>

                @foreach (var task in column.Tasks)
                {
                    <div class="card mt-2 mb-2 ml-2 mr-2 hover-effect w-200" draggable="true" ondragstart="return false;">
                        @Html.Hidden("TaskId", task.Id)

                        <div class="card-header">
                            @task.Title
                        </div>

                        <div class="card-body">
                            @task.CreationTime
                        </div>

                        @Html.ActionLink("View", "ViewTask", "Task", new { taskId = task.Id }, new { @class = "border-0 btn btn-outline-primary ml-2 mr-2 mb-2" })
                    </div>
                }

                @if (Model.CanUserCreateTask)
                {
                    <button id="createTaskButton" type="button" class="btn btn-outline-primary m-4" data-toggle="modal" data-target="#modalTask" data-columnId="@column.Id">
                        +
                    </button>
                }

            </div>
        }

        @if (Model.CanUserChangeProject && Model.Columns.Count < 6)
        {
            <div class="d-flex mt-4 mb-4 ml-2 mr-2 rounded action-outline-light w-200" data-toggle="modal" data-target="#modalColumn">
                <div class="d-flex flex-column justify-content-center align-items-center card-body text-light">
                    <h5>
                        +
                    </h5>
                </div>
            </div>
        }
        @if (Model.CanUserCreateTask)
        {
            <div class="modal fade" id="modalTask" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">

                        @Html.Partial("~/Views/Task/CreateTask.cshtml", new SAM.Taskboard.Model.Task.CreateTaskViewModel { BoardId = Model.BoardId })

                    </div>
                </div>
            </div>
        }
    </div>

<script>
    $('#modalTask').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const columnId = button.data('columnid');
        const modal = $(this);
        modal.find('#ColumnId').val(columnId);
    });
</script>
