@using System.Security.Claims;
@{
    var identity = (ClaimsIdentity)User.Identity;
    IEnumerable<Claim> claims = identity.Claims;
    string theme = claims.FirstOrDefault(u => u.Type == "Theme").Value;
}

@model SAM.Taskboard.Model.Board.CreateColumnViewModel

<div id="addColumnModalForm" class="modal-dialog modal-dialog-centered w-300" role="document">
    <div class="modal-content theme-background-@theme theme-border-@theme">
        @using (Html.BeginForm("AddColumn", "Board", FormMethod.Post, new { id = "addColumnForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.HiddenFor(m => m.BoardId)

                <div class="row justify-content-center">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Title, new { type = "text", @class = $"form-control theme-background-{theme} textOnDark-{theme} w-250", placeholder = "Column name" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger small" })
                    </div>
                </div>

                <div class="row justify-content-center mt-1 mb-2 text-danger small">
                    @Html.ValidationMessage("Error")
                </div>
            </div>

            <div class="modal-footer theme-background-@theme theme-border-@theme">
                <button id="closeColumnModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addColumn" type="submit" class="btn btn-primary">Create</button>
            </div>
        }
    </div>
</div>

<script>
    $('#addColumn').click(function () {
        const request = $.ajax({
            type: "POST",
            url: '@Url.Action("CreateColumn", "Board")',
            data: $('#addColumnForm').serialize()
        });

        request.done(function () {
            $('#closeModal').click();
            location.reload();
        });

        request.fail(function (jqXHR) {
            if (jqXHR.status == 400) {
                $("#addColumnModalForm").replaceWith(jqXHR.responseText);
            }
        });
    });

    $('#addColumn').click(function(e){
        e.preventDefault();
    });
</script>

