@model SAM.Taskboard.Model.Board.BoardViewModel

<div class="container w-100">
    <div class="d-flex flex-column align-items-center justify-content-center w-100">

        <div class="btn-group pt-1 pb-1 pl-2 pr-2 mt-4 mb-2" role="group">
            @Html.ActionLink(Model.ProjectTitle, "ViewProject", "Project", new { projectId = Model.ProjectId }, new { @class = "btn btn-primary" })

            @if (Model.CanUserChangeBoard)
            {
                <div class="btn-group" role="group">
                    <button id="dropDown" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.Title
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropDown">
                        <a class="dropdown-item" href="#">boardSettings</a>
                    </div>
                </div>
            }
            else
            {
                <button type="button" class="btn btn-outline-primary">@Model.Title</button>
            }

        </div>

        @Html.Partial("Board", Model)

        @if (Model.CanUserChangeBoard && Model.Columns.Count < 6)
        {
            <div class="modal fade" id="modalColumn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered w-300" role="document">
                    <div class="modal-content">

                        @Html.Partial("CreateColumn", new SAM.Taskboard.Model.Board.CreateColumnViewModel { BoardId = Model.BoardId })

                    </div>
                </div>
            </div>
        }

    </div>
</div>